@import "./component-themes";
@import "./material-colors.scss";

@include mat-core();

$primary: mat-palette($mat-twitch);
$accent: mat-palette($mat-twitch-accent);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);

// Our dark theme
.dark-theme {
  $dark-theme: mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}
