@import "~@angular/material/theming";

$mat-twitch: (
  50: #f2e6fe,
  100: #dbc0fd,
  200: #c296fc,
  300: #a866fc,
  400: #923cfb,
  500: #7a00f8,
  600: #6d00f2,
  700: #5b00ea,
  800: #4700e6,
  900: #2100d7,
  A100: #dbc0fd,
  A200: #c296fc,
  A400: #923cfb,
  A700: #5b00ea,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-twitch-accent: (
  50: #fee1f0,
  100: #fbb4da,
  200: #fa7fc0,
  300: #fb3ca5,
  400: #fc008e,
  500: #fa0074,
  600: #e80071,
  700: #c6006e,
  800: #ba0068,
  900: #910062,
  A100: #fbb4da,
  A200: #fa7fc0,
  A400: #fc008e,
  A700: #c6006e,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);