@import "~@angular/material/theming";

td-toolbar {
  @include mat-elevation(2);
  display: block;
}

.content {
  padding: 4rem 6px;
  display: flex;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  aside {
    flex: 0;
  }
}

.theme-container, .mat-app-background {
    height: 100%;
}