
mat-toolbar-row {
    justify-content: space-between;
}

mat-slide-toggle {
    font-size: .875rem;
    margin-left: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    
  }
.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    padding-left: 10px;
}