@import '~@angular/material/theming';

mat-toolbar-row {
    justify-content: space-between;
}

mat-slide-toggle {
    font-size: .875rem;
}

.logo {
    display: flex;
    justify-content: center;
    
  }
.logo-container, .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-button {
    margin-left: 10px;
}

h1 {
    padding-left: 10px;
}

fa-icon {
    padding-right: 10px;
}

// @mixin menu-theme($theme) {
//     $accent: map-get($theme, accent);
//     $background: map-get($theme, background);
//     $background-color: mat-color($background, mat-menu);
  
//     .mat-menu-panel {
//         background: #303030 !important;
//     }
//   }